.ini{
    background-color: red;
}
.text{
    background-color: brown;
}
.texto{
    background-color: crimson;
}
.fin{
    background-color: rgb(148, 148, 214);
}
.body{
    background-color: rgb(26, 75, 117);
}