.ini{
    background-color: aqua;
}
.body{
    background-color: beige
    ;
}
.inicio{
    background-color: blanchedalmond;
}
.text{
    background-color: chocolate;
}
.fin{
    background-color: rgb(86, 86, 138);
}