body{

    background-color: rgb(163, 158, 151);
}
.inicio
{
    background-color: rgb(255, 38, 0);
}
.datos{
    background-color: blueviolet;
}
.info{
    background-color: brown;
}.info2{
    background-color: rgb(91, 97, 100);
}
.final{
    background-color: rgb(115, 115, 153);
}
.text{
    background-color: rgb(184, 124, 11);
}
.ini{
    background-color: darkgreen;
}