
body {
    background-color: rgb(41, 15, 157); 
    font-family: sans-serif;   
    padding: 50px;              
}


.Calculadora {
    background-color: white;    
    border: 2px solid rgb(11, 115, 185);    
    width: 320px;               
    margin: 0 auto;             
    padding: 20px;              
}


.Calculadora h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.datos input {
    width: 100%;                
    margin-bottom: 10px;        
    padding: 5px;               
    text-align: center;        
        
}


.botones {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;         
}


.botones button {
    background-color: #f0f0f0;  
    border: 1px solid gray;     
    display: inline-block;      
    width: 65px;                
    margin: 3px;                
    padding: 8px 0;             
    text-align: center;         
    cursor: pointer;            
}


.resultado {
    margin-top: 15px;
}


.resultado p {
    font-weight: bold;
    margin-bottom: 5px;
}


.resultado input {
    width: 100%;
    padding: 8px;
    background-color: #e0e0e0;  
    border: 1px solid rgba(128, 128, 128, 0.816);
    text-align: right;          
       
}